# 忽略 kangyang/docs 目錄
kangyang/docs/

# 常見系統文件
.DS_Store
Thumbs.db

# 編輯器和 IDE 文件
.idea/
.vscode/
*.swp
*.swo

# Python 相關文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虛擬環境
venv/
ENV/
.env

# uv 相關文件
uv.lock
